.map-section {
  background-color: rgb(238, 243, 253);
  padding: 20px;
  margin-top: 50px;
  margin: auto;
}
body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.map-section-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid white;
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 3px -1px rgb(248, 244, 244);
  background-color: white;
}

.india-map {
  width: 100%;
}

.analysis {
  width: 100%;
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container .svg-map {
  width: 100%;
  height: 100%;
  display: block;
}

path {
  stroke: white;
  fill: rgba(146, 194, 245, 0.566) !important;

  transition: fill 0.4s ease;
}

path:hover {
  stroke: #002868 !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#details-box {
  padding: 1rem;
  border-radius: 8px;
  font-size: 14px;
  position: fixed;
  color: rgb(24, 23, 23);
  background-color: #e2d4d4;
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity 0.4s ease;
  z-index: 1;
}


.analysis-nav {
  border-radius: 18px;
  border: 2px solid black;
  overflow: hidden;
  width: 90%;
  margin-bottom: 20px;
}

.analysis-nav ul {
  display: flex;
  width: 100%;
  height: 40px;
}

.analysis-nav ul li {
  list-style: none;
  width: 33.33%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.analysis-nav ul li:nth-child(1) {
  background-color: #14539a;
  color: white;
}

.analysis-nav ul li:hover {
  background-color: #14539a;
  color: white;
}

.analysis .para {
  width: 100%;
  margin-bottom: 20px;
  word-spacing: 3px;
  margin-left: 9px;
}

.states-selection select {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(241, 238, 238);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  cursor: pointer;
}

.states-selection select:focus {
  outline: none;
}

.state-data {
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.state-data table {
  width: 100%;
  height: 350px;
  max-width: 500px;
  border-collapse: collapse;
  border-radius: 10px;
  overflow-y: scroll;
  display: flex;
}

.state-data table tr {
  height: 35px;
  text-align: center;
  font-size: 15px;
}

.state-data table tr td {
  border: 3px;
  padding-left: 38px;
  padding-right: 38px;
}

.state-data table tr:nth-child(even) {
  background-color: rgb(223, 225, 226);
}

.state-data table tr:nth-child(odd) {
  /* background-color: rgb(244, 249, 249); */
  background-color: #e8eefd;
}

.state-data table tr:nth-child(1) {
  background-color: rgb(248, 198, 173);
  height: 50px;
  font-size: 18px;
  border-top-right-radius: 20px;
}

.details-s-box {
  margin-bottom: 31px;
  width: 100%;
  text-align: center;
  margin-right: 0;
}

.third-last {
  width: 100%;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .map-section-div {
    width: 80%;
  }

  .india-map {
    width: 60%;
  }

  .analysis {
    width: 40%;
  }

  .container {
    max-width: 800px;
  }

  .states-selection select {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .state-data table {
    width: 110%;
    height: 350px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    margin-left: 5px;
  }
  .state-data table tr td {
    border: 3px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .map-section-div {
    width: 100%;
  }

  .india-map {
    width: 58%;
  }

  .analysis {
    width: 42%;
  }
}


.viewMoreDetails{
padding: 16px 32px;
width: 207px;
height: 48px;

border-radius: 8px;
margin-bottom: 25px;
background-color: #14539a!important;
color: white !important;
}

.viewMoreDetails:hover{
background-color: #2481ec!important;
color: #e8eefd!important;
}