.people-say {
  text-align: center;
  margin-top: 100px;
}

.people-say p {
  color: #14539a;
}

.quotes-box-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.quotes-box {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 1px 2px 2px 2px rgb(225, 222, 222);
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
}

.quotes-box .bg-image img {
  width: 70px;
  height: 70px;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quotes-box p:nth-child(2) {
  color: black;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.quotes-box hr {
  width: 70%;
  margin-bottom: 20px;
}

.quotes-box h3,
.quotes-box p:nth-child(5) {
  color: black;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  .quotes-box {
    width: 45%;
    margin: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .quotes-box {
    width: 30%;
  }
}
